.main {
    background-color: slategray;
}

.bod {
    background-color: slategray;
}

.small-font {
    font-family: serif;
}

.back-button {
    padding: 4px 12px 4px 12px;
    color: black;
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 4px;
}

Button.open {
    padding: 4px 12px 4px 12px;
    color: whitesmoke;
    background-color: cornflowerblue;
    border: black;
}

Button.btn-fav {
    background-color: lightgreen;
}

Button.btn-fav:hover {
    background-color: lightgreen;
}

Button.btn-fav:focus, Button.btn-fav:active {
    background-color: lightgreen !important;
}

Button.not-fav {
    background-color: whitesmoke;
}

Button.not-fav:hover {
    background-color: whitesmoke;
}

Button.not-fav:focus, Button.not-fav:active {
    background-color: whitesmoke !important;
}