Button.form-button { 
    padding: 4px 8px 4px 8px;
    color: whitesmoke;
    background-color: royalblue;
    margin: 3px 6px 3px 6px;
}

Button.delete-button {
    padding: 4px 12px 4px 12px;
    color: black;
    background-color: coral;
    border: 1px solid black;
}

Button.open {
    background-color: cornflowerblue;
    color: whitesmoke;
}